---
- name: Install UFW + dependencies
  apt:
    name:
      - ufw
      - iptables-persistent
      - net-tools
    update_cache: yes
    state: present

- name: Enable IP forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    reload: yes

- name: Set UFW default forward policy
  replace:
    path: /etc/default/ufw
    regexp: '^DEFAULT_FORWARD_POLICY=.*'
    replace: 'DEFAULT_FORWARD_POLICY="ACCEPT"'

- name: Configure NAT in before.rules
  copy:
    dest: /etc/ufw/before.rules
    content: |
      *nat
      :POSTROUTING ACCEPT [0:0]
      -A POSTROUTING -o eth0 -j MASQUERADE
      COMMIT

- name: Add 100 benign allow rules
  ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: "{{ range(10001, 10101) | list }}"

- name: Allow internal VPC
  ufw:
    rule: allow
    src: 172.31.0.0/16

- name: Allow admin ports
  ufw:
    rule: allow
    port: "{{ item }}"
  loop:
    - 22
    - 80
    - 443

- name: Enable UFW
  ufw:
    state: enabled
    direction: incoming
    policy: allow
