---
- name: Install UFW
  apt:
    name: ufw
    state: present
    update_cache: yes

- name: Allow internal LAN traffic
  ufw:
    rule: allow
    proto: any
    from_ip: 172.31.0.0/16

- name: Allow SSH from admin CIDR
  ufw:
    rule: allow
    port: 22
    proto: tcp

- name: Enable IP forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    sysctl_set: true
    reload: true

- name: Enable NAT masquerading
  copy:
    dest: /etc/ufw/before.rules
    content: |
      *nat
      :POSTROUTING ACCEPT [0:0]
      -A POSTROUTING -s 172.31.0.0/16 -o ens5 -j MASQUERADE
      COMMIT

- name: Enable UFW
  ufw:
    state: enabled
    direction: incoming
