---
- name: Install vsftpd
  apt:
    name: vsftpd
    state: present
    update_cache: yes

- name: Configure passive FTP ports
  lineinfile:
    path: /etc/vsftpd.conf
    line: "{{ item }}"
  loop:
    - "pasv_min_port=40000"
    - "pasv_max_port=50000"

- name: Allow FTP ports in UFW
  ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - 21
    - 40000:50000

- name: Restart vsftpd
  systemd:
    name: vsftpd
    state: restarted
    enabled: yes
